body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 2%;
    background-color: lightblue;
    height: 100vh;
    border-radius: 2em;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.logo {
    font-size: 3em; 
    transform: translateY(.6em) translateX(-.5em); 
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.posts {
    background-color: whitesmoke;
    flex-basis: 70%;
    width: 90%;
    border-radius: 2em;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    overflow-y: auto;
}

.post {
    flex-basis: 50%;
    text-align: center;
    border-top: 1px solid black;
    border-radius: 2em;
    border-bottom: none
}