body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.mainFlex {
    display: flex;
    flex-direction: column;
    flex-basis: 90%;
    margin: 2%;
    background-color: lightblue;
    height: 100vh;
    border-radius: 2em;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
}

.logo {
    font-size: 3em; 
    transform: translateY(.6em) translateX(-.5em); 
    color: whitesmoke;
    font-family: 'Righteous', cursive;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.posts {
    background-color: whitesmoke;
    height: 70%;
    width: 90%;
    border-radius: 2em;
    border: 1px solid black;
    overflow-y: scroll;
}

.post {
    height: 25%;
    text-align: center;
    border-top: 1px solid black;
    border-radius: 2em;
    border-bottom: none;
    display: flex;
    flex-direction: column;
}

.postHead {
    flex-basis: 50%;
    text-align: left;
    display: flex;
    align-items: center;
    margin-left: 1em;
    margin-top: .5em;
}

.profileIMG {
    height: 3em;
    width: 3em;
    border-radius: .5em;
}

.flutterHead {
    color: lightblue;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Righteous', cursive;
    font-size: 1.5em;
    margin-left: .5em;
}

.postText {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .9em;
}
.postContent {
    flex-basis: 50%;
    margin-left: .5em;
    margin-right: .5em;
}